* {
  padding: 0;
  margin: 0;
}

body {
  font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

img {
  max-width: 100%;
}

.simple {
  float: left;
  overflow: hidden;

  position: relative;
}

.simple div#current-src {
  top: 0;
  right: 0;
  position: absolute;
  float: right;

  font-size: .8em;
  color: #fff;
  background: #000;
  opacity: .7;
  padding: 12px 15px;
}

.parent-width {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

@media all and (min-width: 480px) and (max-width: 768px){
  .parent-width {
    width: 300px;
  }
}

@media all and (max-width: 480px){
  .parent-width {
    width: 200px;
  }
}